$footer-blue: rgb(26 114 216);
$default-font: 'Raleway', sans-serif;

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin abs-with-size($size) {
    position: absolute;
    height: $size;
    width: $size;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: $default-font;
}

.footer {
    width: 100%;
    background-color: $footer-blue;
    height: 10vh;
    color: white;
    @include flex-center();
    margin-top: auto;
}

.error {
    @include flex-center-column();
    justify-content: center;
    min-height: 100vh;
    color: red;
}

.error--inWindow {
    @include flex-center-column();
    justify-content: center;
    color: red;
}

.NotFound {
    @include flex-center-column();
    justify-content: center;
    min-height: 100vh;

}

.header {
    width: 100%;
    background-color: rgb(26 114 216);
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    z-index: 1;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);

    span {
        cursor: 'pointer';
        margin-left: 7px;
    }

    a {
        text-decoration: none;
        color: white
    }

    .search {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 500px;

        &__input {
            width: 100%;
            background-color: white;
            margin: 10px;
            height: 48px;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            border-radius: 5px;
            border: none;
            padding-left: 7px;
            background-color: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.244) inset;
            color: white;
            font-weight: 500;
            outline: none;
            box-sizing: border-box;

            &-icon {
                position: relative;
                left: -45px;
                opacity: 0.6;
            }
        }

    }

    &__right {
        display: flex;
        justify-content: flex-end;
    }

    &__left {
        display: flex;
        align-items: center;
        margin-left: 7px;
    }

    &__icons {
        @include flex-center-column();
        padding: 15px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.active {
    border-bottom: 3px solid orange; //?
}



.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    background-color: rgb(248, 246, 246);
    padding: 75px;
    margin-top: 75px;

}

.card {
    position: relative;
    transition: transform 225ms ease !important;
    /*плавное изменение любого свойства карточки */
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    overflow: visible !important;
    box-shadow:
        0px 2px 1px -1px rgb(0 0 0 / 40%),
        0px 1px 1px 0px rgb(0 0 0 / 28%),
        0px 1px 3px 0px rgb(0 0 0 / 24%) !important;


    &:hover {
        transform: scale(105%);

    }

    .card__price {
        font-weight: 600;
        color: black;
        font-size: 20px;
        margin-top: 10px;
    }

    img {
        width: 50%;

    }

    &__chip {
        position: absolute;
        top: -10px;
        right: -10px;


    }

    &__buttons {
        margin-top: auto;
        margin-bottom: 10px;

    }

    &__likes {
        color: red;
        margin-left: 10px;

    }

    .card__media {
        background-size: contain;
    }
}

.paper {
    font-family: 'Raleway', sans-serif;
    width: 450px;
    height: 450px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    @include flex-center-column();
    justify-content: space-around;
    z-index: 2;

}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.userWindow {
    height: 100%;
    width: 100%;
    @include flex-center();
    margin-top: 100px;

    &__content-avatar {
        width: 300px;
        height: 300px;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        position: relative;
        overflow: hidden;

        &:hover .userWindow__content-avatar-overlay {
            @include flex-center()
        }

        &-overlay {
            background: rgba(0, 0, 0, 0.3);
            color: white;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 350px;
            cursor: pointer;
        }
    }
}


.about-me__add {
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    width: 250px;
    height: 200px;
    background: rgba(195, 193, 193, 0.2);
    position: relative;
    cursor: pointer;
    padding: 10px;
    @include flex-center();

    &:hover {
        background: rgba(195, 193, 193, 0.4);
    }
}

.allScreen {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1;
    overflow: auto;
    padding: 50px 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    @include flex-center();
}

.modal__container {
    font-family: 'Raleway', sans-serif;
    min-width: 500px;
    position: relative;
    margin: auto;
    z-index: 0;
    padding: 20px;

    .icon {
        position: absolute;
        right: 5px;
        top: 5px;
        color: grey;
        cursor: pointer;
    }

    .form {
        @include flex-center-column();
    }

    .input {
        margin: 5px;
        width: 70%;
    }

    .btn {
        margin-top: 15px;
        width: 70%;
    }


}

.pageOfProduct {
    display: flex;
    min-height: 100vh;
    justify-content: space-evenly;
    margin-top: 150px;

    &__reviews {
        width: calc(100% - 60px);
        margin: auto;
        padding: 30px;
        max-width: 1500px;

        &-oneReview {
            width: 100%;
            margin-top: 50px;
            border-bottom: 1px solid rgb(233, 229, 229);

            img {
                height: 40px;
                width: 40px;
                border-radius: 100%;
                border: 1px solid rgb(234, 231, 231);
                margin-right: 10px;
            }

            &:last-child {
                border-bottom: 0;
            }

            &-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-leftOrRight {
                display: flex;
                align-items: center;
                margin-right: 15px;

                .date {
                    margin-right: 15px;
                }

            }

            &-bottom {
                margin-bottom: 25px;
                margin-top: 25px;
            }
        }

    }

    &__infoAboutProduct {
        display: flex;
        flex-direction: column;
        max-width: 600px;
    }

    &__image {
        max-height: 500px;
        display: flex;
        align-items: center;

        img {
            height: 400px;
            width: 400px;
        }
    }

    &__infoAboutAuthor {
        display: flex;
        flex-direction: column;
        margin-top: 37px;

        img {
            height: 100px;
            width: 100px;
            border-radius: 100%;
            margin-bottom: 7px;
            border: 1px solid rgb(204, 203, 203);
        }
    }
}


@media (max-width: 768px) {

    .main {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 90px;
        justify-content: center;

    }

    .card {
        margin: 0 auto;
    }

    .header {
        align-items: center;

        &__left {
            display: none;
        }

        & span {
            display: none;
        }
    }


    .paper {
        width: 300px;
        height: 500px;
        top: 200px;
    }


    .pageOfProduct {
        display: flex;
        min-height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 80px;
        margin-left: 82px;
        margin-right: 82px;

        &____reviews-oneReview {
            font-size: small;

            &-top {
                flex-wrap: wrap;
            }
        }


        &__image {
            max-height: 300px;
            display: flex;
            align-items: center;

            img {
                height: 200px;
                width: 200px;
                margin: auto;
            }
        }

        &__infoAboutProduct {
            h1 {
                font-size: medium;
            }
        }

        &__infoAboutAuthor {
            align-items: center;
        }
    }
}



// @media (max-width: 768px) {
//     .pageOfProduct {
//         display: flex;
//         min-height: 100vh;
//         justify-content: space-evenly;
//         flex-direction: column;
//         margin-top: 80px;
//         margin-left: 82px;
//         margin-right: 82px;


//         .imageInPageOfProduct {
//             max-height: 300px;
//             display: flex;
//             align-items: center;

//             img {
//                 height: 200px;
//                 width: 200px;
//                 margin: auto;
//             }
//         }
//     }

//     .infoAboutProduct {


//         h1 {
//             font-size: medium;
//         }


//     }

//     .infoAboutAuthorInPageOfProduct {
//         align-items: center;
//     }

//     .oneReview {
//         font-size: small;

//     }
// }



/* БЭМ

<div class="product-page">
    <div class="product-page__image">
        <img />
    </div>
    <div class="product-page__info">
        <p class="product-page__info-paragraph"></p>
        <p class="product-page__info-paragraph product-page__info-paragraph--yellow"></p>
        <p class="product-page__info-paragraph product-page__info-paragraph--yellow"></p>
        <p class="product-page__info-paragraph"></p>
        <p class="product-page__info-paragraph"></p>
    </div>
    <div class="product-page__author"></div>
</div>

*/