body {
  margin: 0;
  font-family: 'Raleway', sans-serif;

}

.App {
  height: 100%;
  width: 100%;
  position: absolute;
}

.header {
  width: 100%;
  background-color: rgb(181, 243, 243);
  display: flex;
  justify-content: space-between
}

.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  align-items: center;
}

.headerIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.right .headerIcons:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 10px;
  background-color: rgb(237, 232, 226);
  padding-top: 30px;
}

.card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  overflow: visible !important;
}

.card img {
  width: 50%;

}

.chipInCard {
  position: absolute;
  top: -10px;
  right: -10px;


}

.buttonsInCards {
  margin-top: auto;
}

.card .CardMedia {
  background-size: contain;
}

.paper {
  font-family: 'Raleway', sans-serif;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.userWindow {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userWindowAvatar {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.userWindow {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}